footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(31, 31, 31);
  color: white;
}

#footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 90%;
  max-width: 1800px;
  
}

#rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
}

#cadastro {
  width: 200px;
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: white;
  border-radius: 15px;
  margin: 30px 30px 30px 0px;
}

#cadastro p {
  padding-bottom: 10px;
}
#cadastro label, input {
  font-size: 14px;
  width: 200px;
}
#cadastro button {
  margin-top: 20px;
  width: 100px;
}

#contato {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  gap: 9px;
  margin: 30px 0 30px 30px;
}

#contato li {
  display: flex;
}
#contato hr {
  padding: 0;
  margin: 0;
  
}
#contato img {
  width: 20px;
  margin-right: 10px;
}

#aviso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(255, 0, 0);
  padding: 10px 0 10px 0;
  border-radius: 15px;
  width: 100%;
  max-width: 1800px;
}

#aviso p {
  font-size: 14px;
}
#aviso p strong {
  font-size: 18px;
}

#form-lorem {
  color: white;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}