#header {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 50px;
  /* padding: 50px 28px; */
  /* min-width: 900px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#conteudo-header {
  display: flex;
  padding: 100px 5px;
  width: 840px;
}

#conteudo-header-texto {
  text-align: start;
  width: 320px;
}

#logo_gtech {
  width: 280px;
}

#text_header {
  font-size: 40px;
  font-weight: 400;
  text-align: start;
}

#img_header {
  width: 500px;
  border-radius: 30px;
}
