#tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  color: white;
  padding-top: 120px
}

#tecnologias div {
  display: flex;
  height: 400px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  background-color: #2c3136;
}
#tecnologias hr {
  width: 8px;
  height: 100%;
  border: none;
  background-color: white;
}
#tecnologias ul {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: center;
}

#tecnologias li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#tecnologias img {
  width: 70px;
}

#tecnologias h1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-style: italic;
}