#tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  color: white;
  padding-top: 120px;
}

#div-back-end, #div-front-end {
  display: flex;
  height: 400px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  background-color: #2c3136;
}

#tecnologias ul {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: center;
}

#tecnologias li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#tecnologias img {
  width: 70px;
}

#tecnologias h1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-style: italic;
}

.vertical-line-container {
  position: relative;
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 200px;
  width: 2px;
  background-color: #fff;
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c3136;
  padding: 5px;
  border-radius: 50%;
}

.icon-container i {
  font-size: 20px;
  color: #fff;
}